main{
    flex-grow: 1;
    height: 450px;
    display: flex;
   
}
.content-container{
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-container h1{
    font-size: 3rem;
    line-height: 3rem;
    color: #F0FFFF;
}
.content-container h2{
    font-size: 1.5rem;
    transform: translateY(-6px);
    color:rgba(0, 0, 0, 0.74)
}
.content-container p{
    width: 450px;
    font-size: 1.4rem;
    font-weight: 100;
    color:white;
    

}
.movie-button{
    height: 50px;
    width: 260px;
    background-color: #04049796;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    color: white;
    }

.social-container{


    width: 48px;
}
.social-container ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    gap: 20px;
}
.social-container li{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 255, 0.925);
}
.social-container i{
    font-size: 1.2rem;

}
.social-container li:hover{
    background-color:#0000cd49 ;
    border-color: #0000cd52;
    transition: 1s;
}